body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Fira Sans",
    "Droid Sans","Helvetica Neue",sans-serif;
    font-weight: bold;
    color: white;
}

.form {
    width: 400px;
    margin: auto;
    padding-top: 100px;
}

.card {
    background-color: black;
    padding: 30px;
    border-radius: 5px;
    height: 380px;
    border-style: solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to bottom, #ef017c, #000000,#ef017c);
}

.card-top {
    text-align: center;
}

.img-login {
    width: 100px;
    border-radius: 50%;
}

.card-group {
    margin-bottom: 10px;
}

.card-group > label {
    width: 100%;
    display: block;
}

.card-group > input {
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: #ef017c;
    box-shadow: inset 0 0 0.5em #ef017c;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    padding: 5px;
    right: 5px;
}

.card-group > button {
    width: 100%;
    padding: 8px;
    color: white;
    border-radius: 2px;
    border: 0px;
    background-image: linear-gradient(to right, #2133ff, #ef017c);
}

.btn button:hover {
    background-image: linear-gradient(to right, #2133ff, #dd8fb7);
    box-shadow: 0px 0px 10px 0.5px #ef017c;
}

.form-check {
    font-weight: normal;
    font-size: 13px;
    margin-bottom: 10px;
}